body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.redirect-btn {
  margin-bottom: 10px;
  width: 100%;
}

.ck-content {
  height: 500px;
}

div.stats .card-title {
  color: #8c9392;
  font-weight: 600;
  border-bottom: 1px solid rgba(0,0,0,.125);
  width: 80%;
  margin: 5px auto 2px auto;
}

div.stats .pagination {
  display: none;
}

div.stats .card-text {
  font-size: 30px;
  margin-bottom: 10px;
}

.stats-card {
  height: 100px;
}

.login, .signup {
  margin: auto;
  margin-top: 100px;
}

.auth-form {
  margin-top: 30px;
}

.auth-msg {
  margin-top: 30px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
  font-size: 25px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

.auth {
  margin-right: 50px;
}

