body {
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.redirect-btn {
  margin-bottom: 10px;
  width: 250px;
}

.ck-content {
  height: 500px;
}

div.stats .card-title {
  color: #8c9392;
  font-weight: 600;
  border-bottom: 1px solid rgba(0,0,0,.125);
  width: 80%;
  margin: 5px auto 2px auto;
}

div.stats .pagination {
  display: none;
}

div.stats .card-text {
  font-size: 30px;
  margin-bottom: 10px;
}

.stats-card {
  height: 100px;
}

.login, .signup {
  margin: 50px auto;
}

.auth-msg {
  margin-top: 30px;
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
  font-size: 25px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

.auth {
  margin-right: 50px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 300px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.title {
  margin: 40px auto;
}

div.title .btn {
  float: right;
  margin-top: -50px;
  width: 200px;
}

.main {
  background-color: #fff;
  box-shadow: 0 8px 24px rgba(149,157,165,0.2);
  border-radius: 5px;
  padding: 30px 20px;
}

.modal-content {
  padding: 2rem;
}

.home {
  min-height: 700px;
  background-image: url("/background.jpg");
  background-size: cover;
  position: relative;
}

.home::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(52, 58, 64,0.5);
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:sans-serif;
  font-weight:bold;
  letter-spacing:5px;
  color:#fff;
  width: 80%;
  text-align: center;
}

div.home-content span {
  font-size: 40px;
}
